<!doctype html>
<html lang="en">

<head>
    <title>Scrabble Helper - Instant Scrabble Superpower</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <br>

        <h1>Scrabble Helper</h1>
        <lead>A simple tool to give you instant scrabble superpowers!</lead>
        
        <br><br>

        <form method="GET">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Missing Characters</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Insert the missing characters as an asterisk</h6>

                    <div class="form-row">

                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c0" id="char0">
                                <option value="">None</option>
                                <option>*
                                    
                                </option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>

                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c1" id="char1">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>


                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c2" id="char2">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>


                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c3" id="char3">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>


                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c4" id="char4">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>


                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c5" id="char5">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>


                        <div class="form-group col-md">
                            <select class="col card-text form-control" name="c6" id="char6">
                                <option value="">None</option>
                                <option>*</option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option>
                                <option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option>
                                <option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option>
                            </select>
                        </div>

                        </div>
                </div>
            </div>

            <br>

            <div class="container">

                

                <div class="row">

                        <div class="card col">
                            <div class="card-body">
                                <h5 class="card-title">Match Text</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Enter the text or expression to match</h6>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="attach" id="attachCheck"> Attach
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md">
                                        <input type="text" placeholder="Existing letter(s)" name="existing" class="form-control" id="inputCity">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card col">
                                <div class="card-body">
                                    <h5 class="card-title">Dictionary</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Select which dictionary to use</h6>
                                    <div class="form-row">
                                            <select class="col card-text form-control" name="language" id="lang">
                                                <option value="en-us">American English</option>
                                                <option value="en-uk">British English</option>
                                            </select>
                                    </div>
                                </div>
                            </div>

                        <div class="card col">
                                <div class="card-body">
                                    <h5 class="card-title">Sort</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Select parameters to search by</h6>
                                    <div class="form-row">
                                            <select class="col card-text form-control" name="sort" id="lang">
                                                <option value="">Default (Alphabetical)</option>
                                                <option value="1">Length</option>
                                                <option value="2">Score</option>
                                            </select>
                                    </div>
                                </div>
                            </div>

                </div>

            </div>

            <br>

            <button class="col btn btn-warning">Find my words!</button>
        </form>

        {% block content %}
            {%  if error %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% else %}
                <br>
                {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% if dictionary %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Word</th>
                            <th scope="col">Length</th>
                            <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for _word in dictionary %}
                            <tr>
                            <td>
                                {{ _word[0] }}
                            </td>
                            <td>
                                {{ _word[1] }}
                            </td>
                            <td>
                                {{ _word[2] }}
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        {% endblock %}

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>