.btn {
    min-width: 40px;
    min-height: 80px;
    border-radius: 5px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-width:1;
    border-color: white;

}  

#res {
    align-items: center;
    text-align: right;
    font-size: 50px;
    margin-top: 10%;
    overflow: scroll;
}

#name-tag {
    text-align: right;
    font-size: 10px;
    overflow: scroll;
    color: rgb(100,100,100);
}

#date-tag {
    text-align: left;
    font-size: 10px;
    overflow: scroll;
    color: rgb(100,100,100);
}

#main-container {
    flex-direction: column; 
    min-width: 23%;
}
