.btn {
    min-width: 80px;
    min-height: 80px;
    border-radius: 5px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-width:1;
    border-color: white;

}  

#res {
    align-items: center;
    text-align: right;
    font-size: 50px;
    margin-top: 10%;
    overflow: scroll;
}

#history-screen {
    align-items: inherit;
    text-align: left;
    font-size: 15px;
    color: rgb(173, 173, 173);
    margin-top: 10%;
}

#main-container {
    flex-direction: column; 
    min-width: 23%;
}
